@import url('https://fonts.googleapis.com/css?family=Work+Sans:400'); // Jordan
@import './base/variables'; // Jordan

body {
  background-color: #345573;
  background-size: cover;
  height: 800px;
  overflow-x: hidden;
  width: 100%;
  font-family: "Work Sans" // Jordan
};
