@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Sigmar+One|Bungee|VT323');


.about-project {
  line-height: 16px;
  height: 330px;
  flex-grow: 100;
  display: inline-block;
  width: 33%;
  margin: 10px;
  border: 3px solid #73AD21;
}

.project {
  display: flex;
  flex-flow: wrap;
  width: 90%;
  margin-bottom: 40px;
  border: 2px solid green;
  height: 460px;
  background-color: white;
  transition: 350ms;
  position: relative;
}

.btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  color: white;
  width: 100px;
  height: 30px;
  background-color: #31AFFF;
  border: 1px solid grey;
  border-radius: 3px;
  outline: none;
  transition: 100ms;
  box-shadow: 1px 2px 9px 1px #afabab;
}

.tech {
  margin-top: 10px;
  outline: violet;
}

.btn:hover {
  background-color: #FFAF70;
  color: rgb(39, 39, 79);
  border: 1px solid rgb(0, 58, 249);
}

.project:hover {
  background-color: rgb(217, 245, 255);
}

.title {
  width: 100%;
  font-size: 30px;
  margin: 10px 0px 10px 10px;
}

.bingo-title, .tic-title, .weather-title, .GTFO-title {
  width: 100%;
  font-size: 30px;
  margin: 10px 0px 10px 10px;
}

.bingo-title {
  font-family: 'VT323', monospace;
}

.tic-title {
  font-family: 'Bungee', cursive;
}

.weather-title {
  font-family: 'Amatic SC', cursive;
}

.GTFO-title {
  font-family: Raleway, Helvetica;
}

.image {
  flex-wrap: wrap;
  width: 525px;
  height: 375px;
  float: left;
  margin: 10px 10px 10px 20px;
  box-shadow: 1px 2px 9px 1px #afabab;
}


@media screen and (max-width: 965px) {
  .image {
    justify-content: center;
    width: 525px;
    height: 375px;
    margin: 0 auto;
    box-shadow: 1px 2px 9px 1px #afabab;
  }

  .project {
    height: auto;
  }

  .about-project {
    margin: 20px 10px;
    height: auto;
  }

  .btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    transition: 100ms;
  }
}

@media screen and (max-width: 620px) {
  .image {
    justify-content: center;
    width: 80vw;
    height: 50vw;
    margin: 0 auto;
    box-shadow: 1px 2px 9px 1px #afabab;
  }
}

@media screen and (max-width: 560px) {
  // .title {
  //   width: 60%;
  //   font-size: 30px;
  //   margin: 10px 0px 10px 10px;
  // }

  .bingo-title, .tic-title, .weather-title, .GTFO-title {
    width: 60%;
  }
}
