@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Sigmar+One');


.about-project {
  margin-left: 330px;
  margin-right: 10px;
  border: 3px solid #73AD21;
}

.project {
  width: 90%;
  margin-bottom: 40px;
  border: 2px solid green;
  height: 320px;
  background-color: white;
  transition: 350ms;
  position: relative;
}

.btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 3px;
  outline: none;
  transition: 100ms;
}

.tech {
  margin-top: 10px;
  outline: violet;
}

.btn:hover {
  background-color: red;
  color: yellow;
  border: 1px solid rgb(0, 58, 249);
}

.project:hover {
  background-color: rgb(217, 245, 255);
}

.title {
  font-size: 22px;
  margin: 10px;
}

.gif {
  width: 300px;
  height: 250px;
}

.image {
  position: absolute;
  box-shadow: 1px 2px 9px 1px #afabab;
  bottom: 25px;
  left: 10px;
}


input[type=text] {
  height: 25px;
  text-transform: uppercase;
  width: 160px;
  font-size: 14px;
  margin-right: 5px;
  box-shadow: 1px 1px 5px 1px grey;
}

input[type=text]:valid {
  outline-color: green;
}

@media screen and (max-width: 640px) {
  .go-btn{
    font-size: 13px;
    font-family: 'Sigmar One', cursive;
    display: block;
    margin: 0 auto;
    height: 30px;
    border-radius: 3px;
    outline: none;
    width: 120px;
    float: none;
    margin-top: 10px;
  }
}
